@import 'tailwindcss';
@import '@skeletonlabs/skeleton/themes/concord';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@layer base {
	h1 {
		@apply text-2xl font-bold tracking-tight;
	}
}
