@import 'tailwindcss';
@import '@skeletonlabs/skeleton/themes/concord';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@layer base {
	html,
	body {
		@apply h-full;
		@apply w-full;
		@apply m-0;
	}

	body {
	}

	#root {
	}

	h1 {
		@apply text-2xl font-bold tracking-tight;
	}
}
