{
  "IsEncrypted": false,
  "Values": {
    "AZURE_SIGNALR_CONNECTION_STRING": "Endpoint=https://<your-signalr>.service.signalr.net;AccessKey=<key>;Version=1.0;",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "COSMOS_CONNECTION_STRING": "AccountEndpoint=http://localhost:8081/;AccountKey=C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b5UrFnENHWWBCDB8RLjkNHFqkFjrqw==;",
    "COSMOS_DATABASE_NAME": "nd-spy-dev-db",
    "COSMOS_GAMES_CONTAINER_NAME": "games",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated"
  },
  "ConnectionStrings": {}
}
